[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32
[submodule "components/ESPAsyncWebServer"]
	path = components/ESPAsyncWebServer
	url = https://github.com/Powerlated/ESPAsyncWebServer
[submodule "components/AsyncTCP"]
	path = components/AsyncTCP
	url = https://github.com/Powerlated/AsyncTCP
